<div class="flex-around">
  <button class="btn-raised primary">
    <i class="fas fa-leaf"></i> Button
  </button>
  <button class="btn-raised accent">
    <i class="fas fa-leaf"></i> Button
  </button>
  <button class="btn-flat primary">
    <i class="fas fa-leaf"></i> Button
  </button>
  <button class="btn-flat accent">
    <i class="fas fa-leaf"></i> Button
  </button>
  <button class="btn-outline primary">
    <i class="fas fa-leaf"></i> Button
  </button>
  <button class="btn-outline accent">
    <i class="fas fa-leaf"></i> Button
  </button>
</div>
<div>
  <p>
    H<sub>2</sub>O<br>
    H<sup>2</sup>O
  </p>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
  <p>
    <q>
      Quote
    </q>
  </p>
  <blockquote>
    Blockquote
  </blockquote>
  <code>
    Code
  </code>
  <h1 class="title">H1</h1>
  <h2>H2</h2>
  <h3>H3</h3>
  <h4>H4</h4>
  <h5>H5</h5>
  <h6>H6</h6>
</div>
