@import "../../../../styles/variables/variables";
@import "../../../../styles/mixins/mixins";

:host {
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include align-items(center);
  max-width: 100%;
  //border: 1px solid $color-accent-very-light;
  border-radius: 100px;
  @include box-shadow(inset, 0 1px, 8px, $color-shadow-mid);

  i, ::ng-deep input {
    display: block;
  }
  i {
    padding: 0 5px 0 15px;
    color: $color-accent-very-light;
  }
  ::ng-deep input {
    @include flex-grow(1);
    max-width: 90%;
    margin: 5px 10px;
    border: none;
    outline: none;
  }
}

@include media_mobile() {

}

@include media_tablet() {

}

@include media_desktop() {

}

@include media_desktop_hd() {

}
