* {
  font-size: 1.5rem;
  font-family: $font-open-sans;
  font-weight: 300;
}
html, body {
  font-size: 10px;
}

// Headlines
h1, h2, h3, h4, h5, h6 {
  display: block;
  font-family: $font-noto-serif;
}
h1 {
  font-size: 4.5rem;
  font-weight: 700;
}
h2 {
  font-size: 4rem;
  font-weight: 900;
}
h3 {
  font-size: 3.2rem;
  font-weight: 900;
}
h4 {
  font-size: 2.8rem;
  font-weight: 700;
}
h5 {
  font-size: 2.2rem;
  font-weight: 700;
}
h6 {
  font-size: 1.6rem;
  font-weight: 700;
}

// Links
a {

}

// Paragraphs, Articles, Abbreviations/ Acronyms, spans
p {
  line-height: 150%;
}
article {

}
abbr {

}
span {

}

// Blockquotes, Quotes
blockquote, q {
  font-family: $font-noto-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 150%;
}

// Lists

// Bold / Italic / Strong / Small
b {
  font-weight: 500;
}
i {
  font-style: italic;
}
strong {
  font-weight: 700;
}
u {

}
small {
  font-size: 1.2rem;
}

// Inputs
input {

}
select {

}
textarea {

}

// Sub-unten, Sup-oben
sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 1.1rem;
}
sub {
  top: 0.4em;
}
sup {
  top: -0.4em;
}

// code
code {
  font-family: $font-monospace;
}




