@import "../../../../styles/variables/variables";
@import "../../../../styles/mixins/mixins";

.hamburger {
  outline: none;
}

header {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  height: 56px;
  overflow: hidden;
  background-color: $color-accent;
  z-index: 9998;
  @include box-shadow(0, 2px, 4px, $color-shadow-light);

  .user-icon {
    cursor: pointer;
    padding: 15px;
    font-size: 2.5rem;
    color: $color-white;
    @include transition(color, 0.3s, ease-in-out);

    &:hover {
      color: $color-light-grey;
    }
  }
  .logo {
    font-size: 2.4rem;
    a {
      padding: 15px;

      .tea, .finder {
        font-weight: 700;
        color: $color-white;
        @include transition(color, 0.3s, ease-in-out);
      }
      i {
        display: inline-block;
        padding: 0 3px;
        color: $color-primary-green;
        @include transition(color, 0.3s, ease-in-out);
      }

      &:hover {
        .tea, .finder {
          color: $color-light-grey;
        }
        i {
          color: $color-primary-green-very-dark;
        }
      }
    }
  }
  .menue-icon {
    .hamburger {
      position: relative;
      top: 1px;
      .hamburger-box {
        .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
          background-color: $color-white;
          @include box-shadow(0, 2px, 4px, $color-shadow-light);
        }
      }
    }
  }
}
nav {
  display: block;
  width: 300px;
  max-height: 100%;
  min-height: 88vh;
  position: fixed;
  right: -320px;
  top: 56px;
  background-color: $color-accent;
  z-index: 9999;
  @include translateX(0);
  @include transition(transform, 0.5s, ease-in-out);
  @include box-shadow(0, 2px, 4px, $color-shadow-light);

  a {
    display: block;
    padding: 20px 25px;
    color: $color-white;
    @include transition(background-color, 0.3s, ease-in-out);

    i {
      color: $color-primary-green;
    }
    &.active {
      background-color: $color-accent-dark;
    }
    &:hover {
      background-color: $color-accent-dark;
    }
  }
  &.active {
    @include translateX(-300px);
  }
}
