@import "../../../../styles/variables/variables";
@import "../../../../styles/mixins/mixins";

.checkbox-wrapper {
  cursor: pointer;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-start);

  .icons {
    .fas.fa-check-square {
      color: $color-primary-green-dark;
    }
  }
  .label {
    padding-left: 5px;
  }
}
